<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sign in</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="form">
    <input type="text" placeholder="Email" #email />
    <input type="password" placeholder="Password" #pass />
    <p *ngIf="error !== ''">{{error}}</p>
    <ion-button (click)="login(email.value, pass.value)">Login</ion-button>
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </div>
</ion-content>
